body{
    background-color:rgb(245, 245, 245);
    font-family: "Roboto", sans-serif;
}

/* creaet my class */
.a-11{
    font-size: 11px;
}
.a-12{
    font-size: 12px;
}
.a-13{
    font-size: 13px;
}
.a-14{
    font-size: 14px;
}
.a-15{
    font-size: 15px;
    
}
.color-red{
    color: rgb(220, 53, 75);
}

body::-webkit-scrollbar{
    width: 0px !important;
}
.logo{
    background-image: url("../public/logo.png");
    height: 30px;
    background-position: 50% 50%;
    width:20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
}
 .a-header{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
   
}
.a-header input{
    width: 95%;
} 
/* right header */
.a-header-right button{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    padding: 3px 20px;
}


/* headre bottom */

.a-heade-bottom{
    background: rgb(245, 245, 245);
    padding:8px 0px;
}
.a-heade-bottom nav ul{   
     list-style: none;
   margin: auto;
}
.a-heade-bottom nav ul li a{
    font-size: 14px;
    cursor: pointer;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.a-heade-bottom nav ul li a:hover{
    color: red;
}
